.header-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a73cc;
}

.button {
    -fx-font-size: 14px;
    -fx-padding: 8px 20px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #45a049;
}

.label {
    -fx-font-size: 14px;
}
